:root {
    color-scheme: light dark;

    --color-db-cool-grey-800:#131821;
    --color-db-cool-grey-800-rgb:19 24 33;
    --color-db-cool-grey-700:#282d37;
    --color-db-cool-grey-700-rgb:40 45 55;
    --color-db-cool-grey-600:#3c414b;
    --color-db-cool-grey-500:#646973;
    --color-db-cool-grey-400:#878c96;
    --color-db-cool-grey-300:#afb4bb;
    --color-db-cool-grey-200:#d7dce1;
    --color-db-cool-grey-200-rgb:215 220 225;
    --color-db-cool-grey-100:#f0f3f5;
    --color-db-red-700:#9b000e;
    --color-db-red-600:#c50014;
    --color-db-red-500:#ec0016;
    --color-db-red-500-rgb:236 0 22;
    --color-db-red-400:#f75056;
    --color-db-red-400-rgb:247 80 86;
    --color-db-red-300:#fa9090;
    --color-db-red-200:#fcc8c3;
    --color-db-red-100:#fee6e6;
    --color-db-red-100-rgb:254 230 230;
    --color-db-green-700:#165c27;
    --color-db-green-600:#2a7230;
    --color-db-green-500:#408335;
    --color-db-green-500-rgb:64 131 53;
    --color-db-green-400:#66a558;
    --color-db-green-400-rgb:102 165 88;
    --color-db-green-300:#8cbc80;
    --color-db-green-200:#bddbb9;
    --color-db-green-200-rgb:189 219 185;
    --color-db-green-100:#e2f3e5;
    --color-db-light-green-700:#44741a;
    --color-db-light-green-100:#ebf7dd;
    --color-db-yellow-600:#fb0;
    --color-db-yellow-500:#ffd800;
    --color-db-yellow-500-dark:#e6c200;
    --color-db-yellow-500-rgb:255 216 0;
    --color-db-yellow-100:#ffffdc;
    --color-db-blue-700:#0a1e6e;
    --color-db-blue-600:#0c3992;
    --color-db-blue-400:#347de0;
    --color-db-cyan-500:#309fd1;

    --body-color:var(--color-db-cool-grey-100);

    --elevation-bg:var(--color-db-cool-grey-800-rgb);
    --elevation-00dp-bg:rgb(var(--elevation-bg)/0);
    --elevation-01dp-bg:rgb(var(--elevation-bg)/.007);
    --elevation-02dp-bg:rgb(var(--elevation-bg)/.013);
    --elevation-03dp-bg:rgb(var(--elevation-bg)/.02);
    --elevation-04dp-bg:rgb(var(--elevation-bg)/.027);
    --elevation-06dp-bg:rgb(var(--elevation-bg)/.04);
    --elevation-08dp-bg:rgb(var(--elevation-bg)/.053);
    --elevation-12dp-bg:rgb(var(--elevation-bg)/.08);
    --elevation-16dp-bg:rgb(var(--elevation-bg)/.107);
    --elevation-24dp-bg:rgb(var(--elevation-bg)/.16);
    --elevation-32dp-bg:rgb(var(--elevation-bg)/.213);
    --elevation-40dp-bg:rgb(var(--elevation-bg)/.267);

    --elevation-shadow:175 180 187;
    
    @media(prefers-color-scheme:dark) {
        --body-color:var(--color-db-cool-grey-700);
        --elevation-bg:255 255 255;
        --elevation-shadow:0 0 0;
    }
}


body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
}

.trainEntryDiv {
    word-wrap: anywhere;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px black;
}

.lineNumber {
    height: 1.9em;
}

.trainNumber {
    font-size: 2em;
    font-weight: bold;
    padding-left: 10px;
}

.trainState {
    padding: 5px
}

.trainEvent {
    background: var(--color-db-cool-grey-600);
    color: white;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.openInButton {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background: var(--body-color);
    border: 1px solid;
    border-color: var(--elevation-16dp-bg);
    transition: transform .3s ease, box-shadow .3s ease;
    padding-left: 8px;
    padding-right: 8px;
}

.openInButton:hover {
    box-shadow: 0 2.75px 3.87px -1.75px rgb(var(--elevation-shadow)/.2),0 6px 9.498px .75px rgb(var(--elevation-shadow)/.14),0 2.25px 11.496px 2px rgb(var(--elevation-shadow)/.12);
    transform: translate(0,-.1rem);
    transition: transform .3s ease, box-shadow .3s ease;
}

.openInWrapper {
    float:right;
}

.formationContainer {
    display: flex;
    background-color: var(--elevation-16dp-bg);
    margin-top: .5em;
    margin-bottom: .5em;
    padding-left: 5px;
    padding-right: 5px;
    height: 5.5em;
    line-height: normal;
    overflow-x: scroll;
    scrollbar-width: thin;
}