:root {
    color-scheme: light dark;

    --color-db-cool-grey-800:#131821;
    --color-db-cool-grey-800-rgb:19 24 33;
    --color-db-cool-grey-700:#282d37;
    --color-db-cool-grey-700-rgb:40 45 55;
    --color-db-cool-grey-600:#3c414b;
    --color-db-cool-grey-500:#646973;
    --color-db-cool-grey-400:#878c96;
    --color-db-cool-grey-300:#afb4bb;
    --color-db-cool-grey-200:#d7dce1;
    --color-db-cool-grey-200-rgb:215 220 225;
    --color-db-cool-grey-100:#f0f3f5;
    --color-db-red-700:#9b000e;
    --color-db-red-600:#c50014;
    --color-db-red-500:#ec0016;
    --color-db-red-500-rgb:236 0 22;
    --color-db-red-400:#f75056;
    --color-db-red-400-rgb:247 80 86;
    --color-db-red-300:#fa9090;
    --color-db-red-200:#fcc8c3;
    --color-db-red-100:#fee6e6;
    --color-db-red-100-rgb:254 230 230;
    --color-db-green-700:#165c27;
    --color-db-green-600:#2a7230;
    --color-db-green-500:#408335;
    --color-db-green-500-rgb:64 131 53;
    --color-db-green-400:#66a558;
    --color-db-green-400-rgb:102 165 88;
    --color-db-green-300:#8cbc80;
    --color-db-green-200:#bddbb9;
    --color-db-green-200-rgb:189 219 185;
    --color-db-green-100:#e2f3e5;
    --color-db-light-green-700:#44741a;
    --color-db-light-green-100:#ebf7dd;
    --color-db-yellow-600:#fb0;
    --color-db-yellow-500:#ffd800;
    --color-db-yellow-500-dark:#e6c200;
    --color-db-yellow-500-rgb:255 216 0;
    --color-db-yellow-100:#ffffdc;
    --color-db-blue-700:#0a1e6e;
    --color-db-blue-600:#0c3992;
    --color-db-blue-400:#347de0;
    --color-db-cyan-500:#309fd1;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: light-dark(white, var(--color-db-cool-grey-700));
}

.trainEntryDiv {
    word-wrap: anywhere;
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px black;
}

.lineNumber {
    height: 1.9em;
}

.trainNumber {
    font-size: 2em;
    font-weight: bold;
    padding-left: 10px;
}

.trainState {
    padding: 5px
}

.trainEvent {
    background: var(--color-db-cool-grey-600);
    color: white;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}